@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-action="AddProduct" class="btn btn-outline-warning">Yeni Ürün Ekle</a>
        </div>
    </div>


    <form method="post">
        @Html.Label("Ürün Adı")
        @Html.TextBoxFor(x => x.urun_baslik, new {@class = "form-control"})
        <br />
        @Html.Label("Ürün Açıklama")
        @Html.TextBoxFor(x => x.urun_aciklama, new {@class = "form-control"})
        <br />
        @Html.Label("Ürün Fiyat")
        @Html.TextBoxFor(x => x.urun_fiyat, new {@class = "form-control"})
        <br />
        @Html.Label("Ürün Stok")
        @Html.TextBoxFor(x => x.urun_stok, new {@class = "form-control"})
        <br />
        @Html.Label("Kategori Seçiniz")
        @Html.DropDownListFor(x=>x.Categorykategori_id, (List<SelectListItem>)ViewBag.v,new {@class="form-control"})
        <br />
        <button class="btn btn-success">Kaydet</button>
    </form>
</div>

